ResistorCalculatorWeb/Connected Services/ResistorCalculatorService/ResistorCalculatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56734/ResistorCalculatorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Model" />
  <xs:complexType name="ArrayOfKeyValueOfintBandDetailEs0MxW4g">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintBandDetailEs0MxW4g">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Model" name="Value" nillable="true" type="q1:BandDetail" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintBandDetailEs0MxW4g" nillable="true" type="tns:ArrayOfKeyValueOfintBandDetailEs0MxW4g" />
  <xs:complexType name="ArrayOfKeyValueOfintEntryDetailEs0MxW4g">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintEntryDetailEs0MxW4g">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Model" name="Value" nillable="true" type="q2:EntryDetail" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintEntryDetailEs0MxW4g" nillable="true" type="tns:ArrayOfKeyValueOfintEntryDetailEs0MxW4g" />
</xs:schema>