ResistorCalculatorWeb.Tests/Connected Services/ResistorCalculatorService/ResistorCalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BandDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mulitplier" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SignificantFigures" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tolerance" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BandDetail" nillable="true" type="tns:BandDetail" />
  <xs:complexType name="EntryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BandColor1ID" type="xs:int" />
      <xs:element minOccurs="0" name="BandColor2ID" type="xs:int" />
      <xs:element minOccurs="0" name="BandColor3ID" type="xs:int" />
      <xs:element minOccurs="0" name="BandColor4ID" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resistance" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryDetail" nillable="true" type="tns:EntryDetail" />
  <xs:complexType name="ArrayOfEntryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntryDetail" nillable="true" type="tns:EntryDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntryDetail" nillable="true" type="tns:ArrayOfEntryDetail" />
</xs:schema>