ResistorCalculatorWeb.Tests/Connected Services/ResistorCalculatorService/ResistorCalculatorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56734/ResistorCalculatorService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56734/ResistorCalculatorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Core.Model" />
  <xs:element name="GetBandList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBandListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBandListResult" nillable="true" type="q1:ArrayOfKeyValueOfintBandDetailEs0MxW4g" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEntryListResult" nillable="true" type="q2:ArrayOfKeyValueOfintEntryDetailEs0MxW4g" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="entryList" nillable="true" type="q3:ArrayOfEntryDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEntryListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="second" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="multiplier" type="xs:double" />
        <xs:element minOccurs="0" name="tolerance" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateResistanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>